body{
	background-color: #ededed;
}
.card-group{
	width:50%;
	margin-left:435px;
	padding-top: 100px;
}
.card{
	margin-right:20px;
	width:25%;
	box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.26);
-webkit-box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.26);
-moz-box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.26);
}
.card-body {
  text-align: center;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.card-footer{
	text-align: center;
	
}
.buttons-view{
	width:35%;
	height:30px;
	background-color:#387649;
	color:white;
	font-family: 'Arya', sans-serif;
	border:none;
	border-radius: 5px;
	box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.26);
-webkit-box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.26);
-moz-box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.26);
	margin-bottom:15px;
}
.card-title{
	font-size: 2.5rem;	
	font-family: 'Arya', sans-serif;
	padding-top:20px;
}